* {
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

menu {
  width: 10%;
  height: 100%;
  background-color: darkgray;
}

canvas {
  display: block;
  width: 90%;
}

#clear {
  height: 10vh;
  width: 50%;
}

#lineWeightNum {
  width: 50%;
}

#insertFileButton {
  width: 50%;
}
